.banner-principal{
    display: flex;
    flex-direction:column ;
    background: rgba(0, 0, 0, 0.4) url("../imagens/banner1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.banner-container {
    display: flex;
    flex-direction:column ;
    width: 100%;
    height: 450px;
    justify-content:  center;
   
}
.bannerTexto {
  color: white;  
  margin: 10px;
  padding: 20px;
  line-height: 30px;

}
.bannerTexto h2 {
    font-size: 2.2em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    line-height: 45px;
}
.bannerTexto p{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    line-height: 45px;
}
/*.botaoDuvidas::before {
    content: '\e908';
    color: #FFFFFF;
    background: transparent;
    border-radius: 50px;
    font-size: 12px;
    margin: 0 10px 0 0;
    padding: 3px;
    float: left;
    border: 1px solid;
    width: 22px;
} */
.botaoDuvidas {
    color: #efe9e5;
    background: #003767;
    width: 130px;
    height: 48px;
    border: transparent;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    position:fixed;
    top: 400px; 
    bottom: 60px;
    margin-left: 1080px;
   
}
.botaoDuvidas img {
    width: 22px;
  
}
.botaoDuvidas:hover {
    cursor: pointer;
}