.credito-container{
    width: 100;
  }
  .credito-titulo {
    width: 600px;   
    margin-left: 200px;
    line-height: 60px;
}
  .credito-titulo>h2 {
    color: #003767;
    font-size: 27px;
    font-weight: bold;
  }
   .credito-titulo>p {
    font-size: 20px;
    color: #000000;
  }
  .credito-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
