.facilidades-container {
    background: #003767;
    display: flex;
    height: 380px;
    justify-content: center;
    align-items: center;
    padding: 32px 0px 64px;
}
.facilidades-titulo {
    align-items: center;
}

.facilidades-container h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 40px;
    margin: 10px 0 30px 0
}

.facilidades-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card {
    border-radius: 5px;
    padding: 15px;
    margin: 10px 20px 10px 40px;
    width: 230px;
    height: 200px;
    transition: all 0.3s ease-out;
    background-color: #ffffff;
    color: black;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

.imagem-card{
    width: 45px;
    height: 50px;
    margin: 2px;
}
.titulo-card {
    font-weight: bold;
    padding-bottom: 20px;
}
 
.paragrafo-card {
    font-size: 15px;
    line-height: 20px;
}
  
.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
    border-left: 5px solid #003767;
}
  
