body{
    background: #faf7f5 ;
    font-family: 'Montserrat', sans-serif;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.cabecalho img {
    width: 12%;
    height: 5%;
    margin: 20px 0 0 20px;
}

.barraNavegacao ul {
    width: 60%;
    display: flex;
    flex-direction: row;

}

.barraNavegacao ul li {
    list-style-type: none;
    padding: 30px;
    font: #003767;
    font-weight: bold;
}

.barraNavegacao ul li:hover {

    text-decoration: underline;

}
.areaLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.formularioAcesso{  
    border: #00000000;
    
}
form input {
	width: 20%;
    padding: 10px;
}
.botaoAcesso {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
.cadeado {
    display: flex;
    flex-flow: row;
    width: 15%;
}
.abraSuaConta {
    width: 150px;
    height: 15px;
    margin: 20px;
    text-align: center;    
    color: #003767;
	font-weight: bold;
	font-size: 10px;
	border:2px solid #003767;
	transition: 1s all;
	cursor: pointer;
}

.abraSuaConta:hover {
    background: #003767;
    color: white;

}
.banner-principal{
    display: flex;
    flex-direction:column ;

}
.banner-container {
    display: flex;
    flex-direction:column ;
    width: 100%;
    height: 450px;
    justify-content:  center;
    background-image: url("../imagens/main-banner-home-empresas-1440x450.jpg");
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(50%);
    position: relative;
    
}
.bannerTexto {
  color: white;  
  margin: 120px;
  padding: 10px;

}
.bannerTexto h3 {
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.bannerTexto p{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: bold;
}
